# next
NEXTAUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=http://localhost:3000
AUTH_SECRET="ejecutar openssl rand -base64 32"

# db
DB_USER=postgres
DB_NAME=teslo-shop
DB_PASSWORD=123456
DATABASE_URL="postgresql://postgres:123456@localhost:5433/teslo-shop?schema=public"
